<!DOCTYPE html>
<html lang="en">
<head>
	<title>Buri Transporters Company</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="{%static 'home/font-awesome/css/font-awesome.min.css'%}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- <link rel='stylesheet' href="{% static 'home/css/bootstrap.min.css' %}" type="text/css"> -->
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img src = "{% static 'home/images/buri_logo.jpg' %}" id="logo"></a>
				<h1 class="navbar-text">Buri Transporters Limited</h1>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href='/home/'>Home</a></li>
					<li><a href='/work_clients/'>Work/Clients</a></li>
					<li><a href='/netfleet/'>Network</a></li>
					<li><a href='/fleet/'>Fleet</a></li>
					<li><a href='/contactus/'>Contact Us</a></li>
					<li><a href='/request_quote/'>Quotation</a></li>
				</ul>
			</div>
		</div>
	</nav>
	{% block body %}
	{% endblock %}
	
	<footer class="container-fluid text-center">
		<div class="row">
			<div class="col-sm-6">
				<h4>Contact Us</h3>
				
				<h4>our address and contact info here</h4>
			</div>
			<div class="col-sm-3">
				<h3>Connect</h3>
				<a href="https://www.facebook.com/buritransporterscompany/" class="fa fa-facebook"></a> 
			</div>
			<div class="col-sm-3">
				<img src = "{% static 'home/images/buri_logo.jpg' %}" id="logo">
			</div>
		</div>
		<!--<a href="#myPage" title="To Top">
		<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>Bootstrap Theme Made By <a href="https://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p>-->
	</footer>
	
	
	
</body>

</html>